[package]
name = "lnpbp"
version = "0.1.0-alpha.1"
license = "MIT"
authors = ["Dr. Maxim Orlovsky <orlovsky@pandoracore.com>"]
description = "Library implementing LNPBPs specifications & standards"
repository = "https://github.com/lnp-bp/rust-lnpbp"
homepage = "https://github.com/lnp-bp"
keywords = ["bitcoin", "lightning", "lnp/bp", "layer-3", "cryptography"]
readme = "README.md"
edition = "2018"

[lib]
name = "lnpbp"
path = "src/lib.rs"

[dependencies]
bitcoin = { git = "https://github.com/lnp-bp/rust-bitcoin", branch = "staging", features = [ "use-serde" ] }
lightning = { git = "https://github.com/lnp-bp/rust-lightning", branch = "staging", optional = true }
lightning-net-tokio = { git = "https://github.com/lnp-bp/rust-lightning", branch = "staging", optional = true }
miniscript = { git = "https://github.com/lnp-bp/rust-miniscript", branch = "staging" }
grin_secp256k1zkp = { git = "https://github.com/lnp-bp/rust-secp256k1-zkp", branch = "stable", optional = true }
# bitcoin = { version = "0.23.0", features = [ "use-serde" ] }
rand = "0.5" # Required by grin_secp256k1zkp
derive_wrapper = "0.1.3"
num-traits = "0.2.11"
num-derive = "0.3.0"
tokio = { version = "~0.2", features = ["tcp"], optional = true }
futures = "~0.3"
torut = "0.1.2"
async-trait = { version = "~0.1", optional = true }
log = { version = "~0.4", features = ["max_level_trace", "release_max_level_debug"], optional = true }
zmq = { version = "~0.9", optional = true }
parse_arg = { version = "0.1.4", optional = true }
# This strange naming is a workaround for not being able to define required features for a dependency
# See https://github.com/rust-lang/api-guidelines/issues/180 for the explanation and references.
serde_crate = { package = "serde", version = "1.0.106", features = ["derive"], optional = true }
secp256k1 = { version = "0.17.2", optional = true }

[features]
default = []
all = ["use-tor", "use-lightning", "use-tokio", "use-log",
       "use-bulletproofs", "use-rgb", "use-daemons", "parse_arg", "serde"]
use-log = ["log"]
use-tor = ["torut/v3"]
use-tokio = ["use-lightning", "tokio/tcp", "lightning-net-tokio"]
use-bulletproofs = ["grin_secp256k1zkp"]
use-rgb = ["use-bulletproofs"]
use-api = ["zmq"]
use-daemons = ["async-trait", "use-api"]
use-lightning = ["lightning"]
serde = ["serde_crate", "torut/serialize"]
