[package]
name = "lnpbp"
version = "0.1.0-beta.4"
license = "MIT"
authors = ["Dr. Maxim Orlovsky <orlovsky@pandoracore.com>"]
description = "LNP/BP Core Library implementing LNPBP specifications & standards"
repository = "https://github.com/LNP-BP/rust-lnpbp"
homepage = "https://github.com/LNP-BP"
keywords = ["bitcoin", "lightning", "lnp-bp", "layer-3", "cryptography"]
readme = "README.md"
edition = "2018"

[lib]
name = "lnpbp"
path = "src/lib.rs"
crate-type = ["dylib", "rlib", "staticlib"]

# Dependencies version policy
# ---------------------------
# The policy in specifying dependencies versions are to use tilde requirements
# according to https://doc.rust-lang.org/nightly/cargo/reference/specifying-dependencies.html?highlight=feature#tilde-requirements
# with full semver version specification (major, minor and patch components)
# which means that we may upgrade for patches/bugfixes, but must not change
# even the minor version of the package.
# Once the library is stable consider upgrading tilde requirements to strict
# equivalence requirements (with '=' sign) since even dependencies patching will
# not introduce risk of breaking the consensus and even security updates must
# be done manualy after through testing
[dependencies]
amplify = { version = "~0.1.8", features = ["serde", "std"] }
amplify_derive = "~0.1.2"
lazy_static = "~1.4.0"
bech32 = "~0.7.2"
ed25519-dalek = { version = "~1.0.0", optional = true }
bitcoin = { git = "https://github.com/LNP-BP/rust-bitcoin", tag = "lnpbp-v0.1.0-beta-4" }
bitcoin_hashes = { git = "https://github.com/LNP-BP/bitcoin_hashes", tag = "lnpbp-v0.1.0-beta-4" }
lightning = { git = "https://github.com/LNP-BP/rust-lightning", tag = "lnpbp-v0.1.0-beta-4", optional = true }
lightning-net-tokio = { git = "https://github.com/LNP-BP/rust-lightning", tag = "lnpbp-v0.1.0-beta-4", optional = true }
miniscript = { git = "https://github.com/LNP-BP/rust-miniscript", tag = "lnpbp-v0.1.0-beta-4" }
# We are of no control of what's happening in Grin and would like to prevent
# updates w/o checking them manually
grin_secp256k1zkp = { version = "=0.7.9", optional = true }
derive_wrapper = "~0.1.6"
num-traits = "~0.2.11"
num-derive = "~0.3.0"
tokio = { version = "~0.2.18", features = ["tcp", "sync"], optional = true }
futures = "~0.3.4"
torut = { version = "~0.1.2", features = ["v2", "v3"] }
async-trait = { version = "~0.1.30", optional = true }
log = { version = "~0.4.8", features = ["max_level_trace", "release_max_level_debug"], optional = true }
zmq = { version = "~0.9.2", optional = true }
parse_arg = { version = "~0.1.4", optional = true }
url = { version = "~2.1.1", optional = true }
# This strange naming is a workaround for not being able to define required features for a dependency
# See https://github.com/rust-lang/api-guidelines/issues/180 for the explanation and references.
serde_crate = { package = "serde", version = "~1.0.106", features = ["derive"], optional = true }

[dev-dependencies]
miniscript = { git = "https://github.com/LNP-BP/rust-miniscript", tag = "lnpbp-v0.1.0-beta-4", features = ["compiler"] }
bitcoin = { git = "https://github.com/LNP-BP/rust-bitcoin", tag = "lnpbp-v0.1.0-beta-4", features = ["rand"] }

[features]
default = ["tor", "lnp", "tokio", "log", "url"]
all = ["tor", "lnp", "tokio", "log", "url", "parse_arg",
       "rgb", "daemons", "serde", "keygen", "websockets"]
lnp = ["lightning", "async", "zmq"]
async = ["async-trait"]
rgb = ["bulletproofs"]
tor = ["torut/v3", "torut/v2", "ed25519-dalek"]
lightning_tokio = ["lightning", "lightning-net-tokio"]
bulletproofs = ["grin_secp256k1zkp"]
api = ["zmq"]
daemons = ["async", "api", "lnp"]
serde = ["serde_crate", "torut/serialize", "bitcoin/use-serde", "miniscript/serde", "amplify/serde"]
keygen = ["bitcoin/rand"]
websockets = []

[workspace]
members = ["derive", "."]
default-members = ["derive", "."]
exclude = ["dep_test"]